/*#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  text-align:center;
}
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active {
  background: #333333;
  height:10px;
  width:10px;
  margin-bottom:1px;
}
.carousel h1 {
  text-align:center;
  margin-bottom:-20px !important;
}
.carousel p {
  font-style:italic;
}
header img {
  height: 70%;
  margin-top: 10px;
}
.carousel {
  height: 250px;
}
.carousel-indicators {
  margin-top: 20px;
}*/

.align-center {
  text-align: center;
}
